<div>
    <mat-card class="transition-settings">
        <mat-card-content>
            <div class="transition-settings--select">
                <mat-form-field *ngIf="locationList">
                    <mat-label>Select Location</mat-label>
                    <mat-select [(value)]="location" (valueChange)="selectLocation()">
                        <mat-option *ngFor="let l of locationList" [value]="l">{{l.name}}</mat-option>
                    </mat-select>
                </mat-form-field>
    
                <mat-form-field *ngIf="departmentList">
                    <mat-label>Select department</mat-label>
                    <mat-select [(value)]="department" (valueChange)="selectDepartment()">
                        <mat-option *ngFor="let d of departmentList" [value]="d">{{d.name}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </mat-card-content>
    </mat-card>

    <mat-card *ngIf="department && employeeList" class="transition-container">
        <mat-card-content>
            <div class="employees-container">
                <div class="employee-container">
                    <h1>Employees</h1>
                    <mat-list id="list-department" cdkDropList [cdkDropListData]="employeeList" (cdkDropListDropped)="drop($event)"
                        class="source" #todoList="cdkDropList" [cdkDropListConnectedTo]="[doneList]">
                        <mat-list-item *ngFor="let employee of employeeList" cdkDrag>
                            {{employee.name}} {{employee.surname}}
                        </mat-list-item>
                    </mat-list>
                </div>

                <div class="employee-container">
                    <h1>Temporal</h1>
                    <mat-list id="list-temporal" cdkDropList [cdkDropListData]="temporal" (cdkDropListDropped)="drop($event)"
                        class="temporal" #doneList="cdkDropList" [cdkDropListConnectedTo]="[todoList]">
                        <mat-list-item *ngFor="let item of temporal" cdkDrag>{{item.name}}, {{item.surname}}
                        </mat-list-item>
                    </mat-list>
                </div>

                <div class="employee-container" *ngIf="!!notAssignedList && notAssignedList.length > 0">
                    <h1>Not assigned</h1>
                    <mat-list id="list-not-assigned" cdkDropList [cdkDropListData]="notAssignedList" (cdkDropListDropped)="drop($event)"
                        class="not-assigned" #notAssigned="cdkDropList" [cdkDropListConnectedTo]="[todoList]">
                        <mat-list-item *ngFor="let item of notAssignedList" cdkDrag>{{item.name}}</mat-list-item>
                    </mat-list>                
                </div>

            </div>



        </mat-card-content>
    </mat-card>
</div>