
$background-color: #202020;
$background-color-100: #333333;
$background-color-300: #4d4d4d;
$background-card: rgba(66, 66, 66, 0.4);
$background-card-100: rgba(66, 66, 66, 0.6);
$border-radius-card: 8px;